@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;               /* Enable Flexbox on the body */
    justify-content: center;     /* Horizontally center the qr-scanner */
    align-items: center;         /* Vertically center the qr-scanner */
    height: 100vh;               /* Ensure the body takes full height of the viewport */
    margin: 0;                   /* Remove default margin from the body */
}

.qr-scanner {
    max-width: 280px;
    padding: 13px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}

.qr img {

   width: 100%;
    border-radius: 8px;
}

.content{
    padding: 10px 15px;
    color: hsl(218, 44%, 22%);  
    text-align:center;   
}
#one{
font-weight: 700;
padding-top: 5px;
font-size: 17px;
}
#two{
font-size: 14px;
  padding-top: 10px;
  opacity:0.75;
  font-weight: 400;
  padding-bottom: 15px;
}
